<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nejc.predvajalnikselected">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="Selected"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Selected"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.nejc.predvajalnikselected.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Splash"
            android:label="Selected" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Nastavitve" android:label="Nastavitve" android:parentActivityName=".MainActivity"></activity>

        <service
            android:name=".MusicService"
            android:exported="false" >
            <intent-filter>
                <action android:name="ACTION_PLAY" />
                <action android:name="ACTION_PAUSE" />
                <action android:name="ACTION_NEXT" />
                <action android:name="ACTION_PREVIOUS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity android:name=".skladbaPodatki" />
    </application>

</manifest>